<h1 mat-dialog-title> Porque?</h1>
<div mat-dialog-content>
  <p>
    Selecciona el motivo
  </p>

  <mat-radio-group class="example-radio-group" >
    <mat-radio-button class="example-radio-button" [value]="1"> 1</mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="2"> 2</mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="3"> 3</mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="4"> 4</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button color="secondary">No</button>
  <button mat-stroked-button color="primary">Si</button>
</div>