

<mat-grid-list cols="3" rowHeight="1:1.5">
  <mat-grid-tile>
    <div>
      <h2>Bienvenido a Dulcekat</h2>
    </div>
    <mat-nav-list>
      <a mat-list-item (click)="handleLogout()">Logout</a>
    </mat-nav-list>



  </mat-grid-tile>
  <mat-grid-tile>
    <h1>Que operacion vamos a realizar?</h1>
  </mat-grid-tile>
  <mat-grid-tile>

    <mat-nav-list>
      <a mat-list-item routerLink="/admin/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/admin/emitir-nota" routerLinkActive="active">Emitir nota</a>
      <a mat-list-item routerLink="/admin/emitir-boleta" routerLinkActive="active">Emitir boleta</a>
      <a mat-list-item routerLink="/admin/informe-balance" routerLinkActive="active">Informe balance</a>
      <a mat-list-item routerLink="/admin/registrar-reclamo" routerLinkActive="active">Registrar reclamo</a>
      <a mat-list-item routerLink="/admin/reporte-inventario" routerLinkActive="active">Reporte inventario</a>
      <a mat-list-item routerLink="/admin/cambiar-boleta" routerLinkActive="active">Cambiar boleta</a>
      <a mat-list-item routerLink="/admin/gestionar-privilegios" routerLinkActive="active">Gestionar privilegios</a>
      <a mat-list-item routerLink="/admin/agregar-producto" routerLinkActive="active">Agregar producto</a>
    </mat-nav-list>

  </mat-grid-tile>
</mat-grid-list>