<h1 mat-dialog-title> Mi modal</h1>
<div mat-dialog-content>
  <mat-list role="list" class="altura">
    <mat-list-item role="listitem">
      <span>
        Descripcion producto
      </span>
      <span class="spacer"></span>
      <span>
        {{ producto.desc_producto }}
      </span>
    </mat-list-item>

    <mat-list-item role="listitem">
      <span>
        Precio producto
      </span>
      <span class="spacer"></span>
      <span>
        {{ producto.precio }}
      </span>
    </mat-list-item>

    <mat-list-item role="listitem">
      <span>
        Stock producto
      </span>
      <span class="spacer"></span>
      <span>
        {{ producto.stock }}
      </span>
    </mat-list-item>


    <mat-list-item role="listitem">
      <span>
        Cantidad
      </span>
      <span class="spacer"></span>
      <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput type="text" [formControl]="cantidad">
        <mat-error *ngIf="cantidad?.errors?.required">
          Ingrese una cantidad
        </mat-error>
        <mat-error *ngIf="cantidad?.errors?.max">
          Maxima cantidad de stock es {{ producto.stock }}
        </mat-error>
        <mat-error *ngIf="cantidad?.errors?.pattern">
          Solo se permiten numeros
        </mat-error>
      </mat-form-field>
    </mat-list-item>

  </mat-list>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    (click)="handleAgregar()"
  >Agregar</button>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>