<h1 mat-dialog-title> Mi modal</h1>
<div mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <span>
        Descripcion producto
      </span>
      <span class="spacer"></span>
      <span>
        {{ producto.desc_producto }}
      </span>
    </mat-list-item>

    <mat-list-item role="listitem">
      <span>
        Precio producto
      </span>
      <span class="spacer"></span>
      <span>
        {{ producto.precio }}
      </span>
    </mat-list-item>

    <mat-list-item role="listitem">
      <span>
        Stock producto
      </span>
      <span class="spacer"></span>
      <span>
        {{ producto.stock }}
      </span>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>