

<div class="component-container">


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha_f}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="nro_boleta">
      <th mat-header-cell *matHeaderCellDef> Nro. boleta </th>
      <td mat-cell *matCellDef="let element"> {{element.nro_serie + "-" + element.nro_correlativo}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> - </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="total_venta">
      <th mat-header-cell *matHeaderCellDef> Total venta </th>
      <td mat-cell *matCellDef="let element"> {{element.total}} </td>
    </ng-container>


    <!-- Position Column -->
    <ng-container matColumnDef="mes">
      <th mat-header-cell *matHeaderCellDef> Mes </th>
      <td mat-cell *matCellDef="let element"> {{element.mes}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  
  <div class="buttons-action">
    <button mat-button color="secondary" (click)="handleGoHome()">Volver a principal</button>
    <button mat-raised-button color="primary" (click)="visualizarVentas()">Visualizar ventas</button>

    <form [formGroup]="fechasForm">

      <mat-form-field appearance="fill">
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha_ini">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fecha fin</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="fecha_fin">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>


    </form>

    <button mat-raised-button color="primary" (click)="clicked()">Imprimir informe</button>
  </div>

</div>
