<div class="component-container">

  <h1>
    Hola estamos en el restablecer
  </h1>  
  
  <form [formGroup]="restartForm" class="form-column">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput type="text" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password again</mat-label>
      <input matInput type="text" formControlName="password_confirm">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="handlePass()">Entrar</button>
  </form>
</div>
