<mat-toolbar>
  <span>My Application</span>

  <span class="example-spacer"></span>
  <!-- <button routerLink="/reset-password" mat-button> Restart password </button>
  <button routerLink="/login" mat-button> Login </button> -->
  <!-- <a routerLink="/reset-password"> Restart password </a>
  <a routerLink="/login"> Login </a> -->


  <nav>  
    <ul class="flex list">
      <li><a routerLink="restart-password" routerLinkActive="active">Restart pass</a></li>
      <li><a routerLink="login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="emitir-nota" routerLinkActive="active">Emitir nota</a></li>
      <li><a routerLink="emitir-boleta" routerLinkActive="active">Emitir boleta</a></li>
      <li><a routerLink="informe-balance" routerLinkActive="active">Informe balance</a></li>
    </ul>
  </nav>

  <!-- <a  routerLinkActive="active" -->
</mat-toolbar>

<router-outlet></router-outlet>
