
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <span>My Application</span>

  
    <mat-nav-list>
      <a mat-list-item routerLink="login" routerLinkActive="active">Login</a>
      <a mat-list-item routerLink="restart-password" routerLinkActive="active">Restart pass</a>
      <a mat-list-item routerLink="emitir-nota" routerLinkActive="active">Emitir nota</a>
      <a mat-list-item routerLink="emitir-boleta" routerLinkActive="active">Emitir boleta</a>
      <a mat-list-item routerLink="informe-balance" routerLinkActive="active">Informe balance</a>
      <a mat-list-item routerLink="registrar-reclamo" routerLinkActive="active">Registrar reclamo</a>
      <a mat-list-item routerLink="reporte-inventario" routerLinkActive="active">Reporte inventario</a>
      <a mat-list-item routerLink="cambiar-boleta" routerLinkActive="active">Cambiar boleta</a>
      <a mat-list-item routerLink="gestionar-usuario" routerLinkActive="active">Gestionar usuario</a>
    </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>