
<div class="component-container">

  <h2>emitiendo nota</h2>


  <div class="screen-nota">
    <form [formGroup]="searchForm" class="nota-form">
      <mat-form-field appesearcharance="fill" class="nota-form__search">
        <mat-label>Search your product</mat-label>
        <input matInput type="text" formControlName="search">
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="handleSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </form>

    <div class="lista-productos">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let producto of productos_vista">
          <span>
            {{ producto.name }}
          </span>
          <span class="spacer"></span>
          <button mat-raised-button (click)="handleOpenDetailModal(producto)">Ir</button>
        </mat-list-item>
      </mat-list>
      <ng-template *ngIf="productos_vista.length == 0">
        <h3>No hay elementos</h3>
      </ng-template>
    </div>
  </div>
    
</div>
