/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.flex {
  display: flex;
}

.list {
  list-style: none;
  a {
    text-decoration: none;
  }
}

.form-column {
  display: flex;
  flex-direction: column;
}


.spacer {
  display: flex;
  flex: 1 1 auto;
}


.component-container {
  width: 80%;
  margin: auto;
}

.full-table {
  width: 100%;
}

.w-100 {
  max-width: 100px;
}


.w-80 {
  max-width: 80px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}